<div class="about-section">
  <div class="left-container">
    <img src="/assets/images/test-image.png" alt="Image of Sarah">
  </div>

  <div class="right-container">
    <h3 class="about-heading">About</h3>
    <div class="about-paragraphs">
      <p id="first-paragraph">
        I am a Sydney-based designer, specialising in spatial and graphic design. My work is highly conceptual and aims to create an atmospheric, interactive experience. My practice includes manual ideation, trials and experimentation, and execution of the final resolved work at a meticulous level.
      </p>
      <p>
        I am confident with using the Adobe Suite and Vectorworks for my sketching process, production of final output, and presentation. Other skills would include research, wrting, printmaking, illustration, photogaphy, model-making, textile methods and other techniques that may be specfic to the project.
      </p>
      <p>
        Currently studying a Bachelor of Design (Honours) at UNSW Art & Design.
      </p>
      <p>
        Studied Bachelor of Design via foreign exchange in 2019 at University of Gothenburg HDK, Sweden.
      </p>
      <p id="last-paragraph">
        Achieved a Certificate III in Live Production & Services from TAFE NSW, Northern Sydney Institute.
      </p>
    </div>
  </div>
</div>
