.left-container {
  margin-top: 150px;
  padding: 0;
  float: left;
  width: 50%;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.left-container img {
  /* margin-left: auto; */
  float: right;
  margin-right: 20px;
  max-width: 80%;
  height: auto;
}

.right-container {
  margin-top: 150px;
  padding: 0;
  float: right;
  width: 50%;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-paragraphs {
  border-left: 1px solid rgb(159,174,229);
}

.about-paragraphs p {
  padding: 0px 50px 0 20px;
}

.about-heading {
  padding-left: 21px;
  color: rgb(213,162,134);
  font-weight: normal;
}

#first-paragraph {
  padding-top: 20px;
}

#last-paragraph {
  padding-bottom: 20px;
}
