.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.scrolling-wrapper .card {
  flex: 0 0 auto;
  border-left: 1px solid rgb(159,174,229);
  padding: 10px 150px 10px 20px;
  font-size: 13px;
  color: rgb(243,233,226);
}

.scrolling-wrapper .card h4 {
  font-size: 16px;
  color: rgb(207,123,105);
}

.scrolling-wrapper .card p {
  margin-left: 0;
}

.projects-container {
  margin-top: 152px;
  padding: 10px 10%;
}

.project-category {
  margin-top: 66px;
}

.individual-project {
  display: flex;
  margin-top: 66px;
}

.project-images {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 75%;
}

.project-images img {
  flex: 0 0 auto;
  max-height: 60vh;
  margin-right: 25px;
}

.project-description {
  align-self: flex-end;
  margin-left: 25px;
  border-left: 1px solid rgb(159,174,229);
  padding: 25px 0 25px 25px;
  width: 25%
}

.project-description h4 {
  margin: 0;
  font-size: 16px;
  color: rgb(207,123,105);
  font-weight: normal;
  font-style: italic;
}
.project-description p {
  margin: 0;
  font-size: 13px;
  color: rgb(243,233,226);
  font-weight: normal;
  font-style: normal;
}
/********************************ID SELECTORS********************************/
#first-paragraph {
  padding-top: 20px;
}

#last-paragraph {
  padding-bottom: 20px;
}
/********************************MEDIA QUERIES********************************/
@media (max-width: 890px) {

  .individual-project {
    flex-direction: column;
  }

  .project-description {
    align-self: flex-start;
    margin: 5px 0;
  }

  .project-images {
    width: 100%;
  }
}
