<div class="projects-container">
  <div class="project-category">
    <a id="set-projects"><h3>Set Design Projects</h3></a>
    <div class="individual-project">
      <div class="project-images">
        <img src="/assets/images/test-image-1.png" alt="Image of The Real Inspector Hound set">
        <img src="/assets/images/test-image-2.png" alt="Image of The Real Inspector Hound set">
      </div>
      <div class="project-description">
        <h4>The Real Inspector Hound</h4>
        <p>2019</p>
        <br>
        <p>by Tom Stoppard</p>
        <p>NSW University Theatre Society</p>
      </div>
    </div>
    <div class="individual-project">
      <div class="project-images">
        <img src="/assets/images/test-image-1.png" alt="Image of Romeo and Juliet set">
        <img src="/assets/images/test-image-2.png" alt="Image of Romeo and Juliet set">
      </div>
      <div class="project-description">
        <h4>Romeo and Juliet</h4>
        <p>2020</p>
        <br>
        <p>by William Shakespear</p>
        <p>UTS Backstage</p>
      </div>
    </div>
  </div>
  <div class="project-category">
    <a id="graphic-projects"><h3>Graphic</h3></a>
    <p>Graphic pictures will go here</p>
  </div>
  <div class="project-category">
    <a id="spatial-projects"><h3>Spatial</h3></a>
    <p>Spatial pictures will go here</p>
  </div>
  <div class="project-category">
    <a id="illustration-projects"><h3>Illustration</h3></a>
    <p>Illustration pictures will go here</p>
  </div>
  <div class="project-category">
    <a id="photography-projects"><h3>Photography</h3></a>
    <p>Photography pictures will go here</p>
  </div>
</div>
